@import "materialize.scss";
*{
	font-family:"Roboto",sans-serif;
}
$green:#27AD60;
$blue:#2C3E50;
$progressOrange:#E67E22;
$progressWhite:#DCD5D5;
$dark:#443E44;
$r1b1:#69D2E7;
$r1b2:#A7DBDB;
$r1b3:#E0E4CC;
$r1b4:#F38630;
$r1b5:#FA6900;
$r2b1:#E94C6F;
$r2b2:#542733;
$r2b3:#5A6A62;
$r2b4:#C6D5CD;
$r2b5:#FDF200;
$r3b1:#DB3340;
$r3b2:#E8B71A;
$r3b3:#F7EAC8;
$r3b4:#1FDA9A;
$r3b5:#28ABE3;
$r4b1:#588C73;
$r4b2:#F2E394;
$r4b3:#F2AE72;
$r4b4:#D96459;
$r4b5:#8C4646;
$r5b1:#D0C91F;
$r5b2:#85C4B9;
$r5b3:#008BBA;
$r5b4:#DF514C;
$r5b5:#DC403B;
/*_________________________*/
$r1t1:"#69D2E7";
$r1t2:"#A7DBDB";
$r1t3:"#E0E4CC";
$r1t4:"#F38630";
$r1t5:"#FA6900";
$r2t1:"#E94C6F";
$r2t2:"#542733";
$r2t3:"#5A6A62";
$r2t4:"#C6D5CD";
$r2t5:"#FDF200";
$r3t1:"#DB3340";
$r3t2:"#E8B71A";
$r3t3:"#F7EAC8";
$r3t4:"#1FDA9A";
$r3t5:"#28ABE3";
$r4t1:"#588C73";
$r4t2:"#F2E394";
$r4t3:"#F2AE72";
$r4t4:"#D96459";
$r4t5:"#8C4646";
$r5t1:"#D0C91F";
$r5t2:"#85C4B9";
$r5t3:"#008BBA";
$r5t4:"#DF514C";
$r5t5:"#DC403B";
@mixin bgColor($color,$texto){
	background-color:$color;
	&:after{
		content:$texto;
	}
}
@mixin button($margin,$pad){
	background:#443E44;
	color:white;
	padding:$pad;
	margin:$margin;
	border:none;
}
@mixin pd($pd1,$pd2){
	padding:$pd1 $pd2;
}
img{
	max-width:100%;
}
h1{
	margin-top:0;
}
hr,#about p:first-child{
	margin-bottom:40px;
}
hr{
	width:20%;
}
.container{
	hr{
		margin-bottom:20px;
	}
}
.progress{
	margin:15px 0 0 0px;
	padding:3px;
	border:2px solid $progressWhite;
	border-radius:0;
	background:$progressWhite;
	.determinate{
	background:$progressOrange;
	}
}
#about img{
	margin:10px 30px;
}
.row{
	margin-bottom:0;
}
#about,#price,#clients,#contact{
	background-color:$blue;
	p,h1{
		color:#FFFFFF;
	}
	hr{
		border:none;
		border-bottom:1px solid white;
	}
}
.row .col.animationContainer{
	@include pd(30px,30px);
	&:hover{
		background:#2A7257;
		.animated{
			background-color:#A96931;
			background-image:none;
		}
	}
}
#service,#price,footer,#contact{
	button{@include button(20px,10px);
	}
}
.animated{
	margin:0 auto;
	padding:25px;
	width:150px;
	height:150px;
	background-color:#2C3E50;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#2C3E50, endColorstr=#616D79);
	background-image:-moz-linear-gradient(right, #2C3E50 50%, #616D79 50%,#616D79 60%,#6A7580 60%);
	background-image:linear-gradient(right, #2C3E50 50%, #616D79 50%,#616D79 60%,#6A7580 60%);
	background-image:-webkit-linear-gradient(right, #2C3E50 50%, #616D79 50%,#616D79 60%,#6A7580 60%);
	background-image:-o-linear-gradient(right, #2C3E50 50%, #616D79 50%,#616D79 60%,#6A7580 60%);
	background-image:-ms-linear-gradient(right, #2C3E50 50%, #616D79 50%,#616D79 60%,#6A7580 60%);
	background-image:-webkit-gradient(linear, right bottom, left bottom, color-stop(50%,#2C3E50), color-stop(50%,#616D79),color-stop(60%,#616D79),color-stop(60%,#6A7580));
}

footer,#service,#team,.header,.amount{
	background-color:$green;
	hr{
		border:none;
		border-bottom:1px solid white;
	}
}

.header{
	padding:20px;
	height:100px;
	.container{
	width:90%;
	}
}
#index-banner,#service,#team,#price{
	color:#FFFFFF;
	h4{
	line-height: 1.5;
	}
	.container{
	width:90%;
	}
}
#team{
	img{
		width:70%;
		margin-top:40px;
		border-radius:10px;
	}
	.s3{@include pd(50px,50px);
		p,span{
		color:#C1C1C1;
		}
		span{
			font-size:20px;
		}
		.xsmall{
		color:black;
		}
	}
}
#price .priceBox{
	margin:50px 10px 30px 10px;;
	border:1px solid #27AD60;
	p{
	padding:20px;
	margin:0;
	}
	.title{
		color:#C1C1C1;
	}
	.dataWhite{
		background:#F5F5F5;
		color:#2C3E50;
	}
	.dataBrown{
		background:#8F5F38;
	}
}
section{
	padding:50px 0px;
}
.amount{
	p:first-child{
		font-size:30px;
		line-height:0.5;
	}
	.small,p:first-child{
	display:inline-block
	}
}
.small{
	font-size:12px;
	margin-top:5px;
}
.xsmall{
	font-size:11px;
}
.colorPalette .row{
	color:$dark;
	margin-bottom:10px;
}
.boxes{
	width:20%;
	float:left;
	height:130px;
	background-color:black;
}
#media{
	span{
		color:white;
		margin:50px 10px;
	}
}
footer{
	color:#FFFFFF;
	i{
		float:left;
		display:inline;
		margin-right:5px;
	}
	.content{
		padding-left:80px;
		p{
			margin:5px 0;
		}
	}
	.center div{
		display:inline-block;
		border:1px solid #443E44;
		p,input{
			height:30px;
			padding:5px;
			margin:0px;
			float:left;
		}
		p{
			width:20%;
			color:#E67E22;
			background:#443E44;
			font-size:18px;
		}
		input{
			width:80%;
			color:grey;
			background:white;
			box-sizing:border-box;
		}	
	}

}
.bottom{
	width:90%;
	color:black;
	span{
		color:white;
	}
	.scrollUp{
		float:right;
	}
}
/*--row:y,box:x row:y,text:x--*/
.r1b1 {@include bgColor($r1b1,$r1t1);}
.r1b2 {@include bgColor($r1b2,$r1t2);}
.r1b3 {@include bgColor($r1b3,$r1t3);}
.r1b4 {@include bgColor($r1b4,$r1t4);}
.r1b5 {@include bgColor($r1b5,$r1t5);}
.r2b1 {@include bgColor($r2b1,$r2t1);}
.r2b2 {@include bgColor($r2b2,$r2t2); color:white}
.r2b3 {@include bgColor($r2b3,$r2t3);}
.r2b4 {@include bgColor($r2b4,$r2t4);}
.r2b5 {@include bgColor($r2b5,$r2t5);}
.r3b1 {@include bgColor($r3b1,$r3t1);}
.r3b2 {@include bgColor($r3b2,$r3t2);}
.r3b3 {@include bgColor($r3b3,$r3t3);}
.r3b4 {@include bgColor($r3b4,$r3t4);}
.r3b5 {@include bgColor($r3b5,$r3t5);}
.r4b1 {@include bgColor($r4b1,$r4t1);}
.r4b2 {@include bgColor($r4b2,$r4t2);}
.r4b3 {@include bgColor($r4b3,$r4t3);}
.r4b4 {@include bgColor($r4b4,$r4t4);}
.r4b5 {@include bgColor($r4b5,$r4t5); color:white}
.r5b1 {@include bgColor($r5b1,$r5t1);}
.r5b2 {@include bgColor($r5b2,$r5t2);}
.r5b3 {@include bgColor($r5b3,$r5t3);}
.r5b4 {@include bgColor($r5b4,$r5t4);}
.r5b5 {@include bgColor($r5b5,$r5t5);}